<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Jungle Safari</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/camera.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative; 
  }
    </style>
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><strong>Jungle Safari</strong></a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="tickets.html">Book Tickets</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
           <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.google.co.in/maps/place/Jungle+Safari+Naya+Raipur/@21.0938988,81.7804808,13z/data=!4m5!3m4!1s0x0:0x3b2644d7c224a15a!8m2!3d21.0938988!4d81.7804808">Explore</a></li>
                <li><a href="#">About us</a></li>
                </ul>
      </div>
    </div>
  </div>
</nav>
</head>
    <br><br>
    <h1 align="middle">Welcome to Jungle Safari</h1>
    <div class="container">
    <div class="row">
        <div class="col-10">
        <div class="camera_wrap" id="camera_wrap_1">
      <div data-src="img/1.jpg">
      </div>
      <div data-src="img/2.jpg">
      </div>
      <div data-src="img/3.jpg">
      </div>
      <div data-src="img/4.jpg">
      </div>
      <div data-src="img/5.jpg">
      </div>
      <div data-src="img/6.jpg">
      </div>
            <div data-src="img/7.jpg">
      </div>
            <div data-src="img/8.jpg">
      </div>
  </div><!-- #camera_wrap_1 -->
        </div></div></div>
 <h3 align="middle">Love nature, but leave her wild.</h3><br>
<div class="row">
    <div class="col-sm-6">
    <p><strong>Mission & Vision :--</strong><br>

        The Nandan Van Zoo & Safari (Jungle Safari,Naya Raipur)will become an important focus for Chhattisgarh and their interest in living in a world where people of all ages are not only delighted by the diversity of the living world that surrounds us, but are committed to protecting the integrity of its “wild life” and “wild places”.</p>

<p><strong>Objectives :--</strong><br>
    
To create a Wild Life Conservation & Awareness centre for the people of Chhattisgarh and for the Tourists across the World.
To create a natural, wild education, research cum amusement centre for the people of Naya Raipur.
To complement and strengthen the national efforts in conservation of fauna.
    The Whole 202.87 Ha area is planned into 8 Zone.</p>

<p><strong>Monument Zone :--</strong><br>
    
Parking Zone
    (Parking space for more than 100 Buses, 300 Cars and 640 Two wheelers along with visitor’s and Driver’s Facilities.)</p>
    </div>
    <div class="col-sm-6">
   <p> <strong>Administrative Zone :--</strong><br>

       ( Office and Residential Spaces for the official appointed for the Management)</p>

   <p> <strong>Water Zone :--</strong><br>

       ( Special Features Like Floating Garden, Water Birds Area, Pathways )</p>

    <p><strong>Waiting Zone :--</strong><br>

        ( This Zone is especially for entertainment purpose of visitors as it has the features like Amphi-theatre,I-Max Theatre, Canteens,Food Courts,Museum, Orientation Center,Floating Deck,Nature Camp)</p>

<p><strong>Zoo Zone :--</strong><br>

    The Zoo Zone has many Animal Enclosure with the Landscape theme of Indian Biographical Zone.</p>

<p><strong>Safari Zone :--</strong><br>

This Zone has 4 Safari i.e.,

Herbivore Safari,
Bear Safari,
Tiger Safari
Lion Safari
8.Management Zone

    (The No-Visitors Area having Veterinary Hospital, Rescue Center,Conservation & Breeding center and more)</p>
    </div></div>
    <script src="js/jquery.js"></script>
    <script src='js/jquery.easing.1.3.js'></script> 
    <script src='js/camera.min.js'></script>
    <script>
    jQuery(function(){
      
      jQuery('#camera_wrap_1').camera({
        thumbnails: true
      });
    });
  </script>

</body>
</html>
